@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
}
button {
  background: none;
}
main {
  background-color: #eceff3;
}
a {
  color: #000 !important;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.p-1 {
  padding: 1rem;
}
.flex {
  display: flex;
}
.animate-in {
  transform: translateX(0%) !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-1 {
  gap: 1rem;
}
.chat--container {
  width: 150rem;
  height: 100vh;
}
.clr-gry {
  color: #a1a1a1;
}
.auth--page {
  width: 100%;
  height: 100vh;
  background-color: #eceff3;
}
.image-gallery-content {
  width: 70%;
  margin: 0 auto;
}
.image-gallery-image {
  height: 42rem;
  width: auto;
}
.toggle-btn {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.active--button {
  background-color: #d8dbdf !important;
}
.dropdown {
  width: 25rem;
}
.rs-dropdown-menu {
  font-size: 1.6rem !important;
}
.rs-dropdown-menu li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  font-weight: 500;
  text-transform: capitalize;
}

.rs-dropdown-menu li:hover {
  color: inherit;
  background-color: #f5f6f6;
}
.rs-dropdown-menu li svg {
  width: 2rem;
  height: auto;
}
.photo--icon {
  width: 2.6rem;
  height: auto;
}
.rs-dropdown-menu li:nth-child(1) svg {
  fill: #017bfc !important;
}
.rs-dropdown-menu li:nth-child(2) svg {
  fill: #ff2e74 !important;
}
.rs-dropdown-menu li:nth-child(3) svg {
  fill: #7f66ff !important;
}
.message {
  position: absolute !important;
  top: 1% !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: 50rem;
  z-index: 999;
}
.message--top {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}
.ps-relative {
  position: relative !important;
}
.input--wd--full {
  width: 95%;
  border-radius: 3rem;
  outline: none;
  padding: 0.8rem 1rem;
  border: none;
  background-color: #eff2f5;
}
.bg-white {
  background-color: #fff !important;
}
.rs-form-group,
.rs-form-control-wrapper {
  width: 100%;
}
.rs-form-group input {
  width: 100% !important;
}
.txt-cntr {
  text-align: center;
  margin: 1rem auto 0 auto;
}
